# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/data/
/checkpoints/
/save/
/pointnet2_ops_lib/build/
/pointnet2_ops_lib/pointnet2_ops.egg-info/
/PointRenderer/
/prepare_data/
/test.py
/main_partseg.py
/main_semseg.py
/visual.ipynb
/config/PartSeg.yaml
/config/SemSeg.yaml
/models/other_models/
Point_Cloud_Classification_Using_Content-Based_Transformer_via_Clustering_in_Feature_Space.pdf
